{
  "openapi": "3.0.3",
  "info": {
    "title": "Takehome API",
    "version": "0.1.0",
    "description": "T4127 payroll deductions. Generated from services/api/src/schema.js. Do not hand-edit openapi.json."
  },
  "servers": [
    {
      "url": "https://takehome.gautamkhosla.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/deductions": {
      "post": {
        "operationId": "createDeduction",
        "summary": "Calculate T4127 payroll deductions for one pay period.",
        "description": "Requires a Bearer np_test_ or np_live_ key. Metering counts calculations, not HTTP requests. A batch of 1000 on POST /v1/deductions/batch counts 1000. Test keys are free and unmetered. Live keys hard-stop at the plan limit; Takehome does not surprise-bill.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeductionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deduction",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Plan calculation limit reached",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Jurisdiction not supported",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deductions/batch": {
      "post": {
        "operationId": "createDeductionBatch",
        "summary": "Calculate T4127 payroll deductions for a pay run of up to 1000 employees.",
        "description": "Requires a Bearer np_test_ or np_live_ key. One HTTP call, up to 1000 calculations, metered as N not 1. Each result is {ok, response} or {error}; one bad employee record does not abort the others. If the live plan cannot cover the whole batch, the call is 402 and usage is unchanged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pay run results, in input order",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request, including batches over 1000",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Plan calculation limit reached; nothing billed",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deductions/year": {
      "post": {
        "operationId": "createDeductionYear",
        "summary": "Project every pay period in a year with YTD CPP, CPP2, and EI carried forward.",
        "description": "Requires a Bearer np_test_ or np_live_ key. Metered as P calculations, not 1. Identifies the CPP cap period, EI cap period, YMPE crossing, and CPP2 start (spec §21.5). Sum of per-period federal tax versus annual T1 is allowed to differ by one cent per pay period because of per-period rounding.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeductionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Year projection",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YearResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Plan calculation limit reached; nothing billed",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Jurisdiction not supported",
            "headers": {
              "X-Usage-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Monthly live calculation cap, or unlimited for np_test_ keys."
              },
              "X-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Calculations remaining this UTC month, or unlimited."
              },
              "X-Usage-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Next UTC month start, when the live meter resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signup": {
      "post": {
        "operationId": "signup",
        "summary": "Start signup. Email, verify, keys. No sales call.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signup/verify": {
      "get": {
        "operationId": "verifySignup",
        "summary": "Verify email and issue np_test_ plus np_live_ keys.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Keys issued once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "get": {
        "operationId": "listKeys",
        "summary": "Active key prefixes for this account. Secrets are never returned.",
        "responses": {
          "200": {
            "description": "Prefixes only",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/rotate": {
      "post": {
        "operationId": "rotateKey",
        "summary": "Issue a new key of the given kind. The previous key is revoked immediately. The new secret is shown once.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyKindRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New secret, shown once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRotateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/revoke": {
      "post": {
        "operationId": "revokeKey",
        "summary": "Revoke keys of the given kind immediately. A lost key is regenerated, never retrieved.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyKindRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRevokeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Paid checkout is deferred (ADR-006). Returns billing_unavailable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Missing or unknown live key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "501": {
            "description": "Billing unavailable; all tiers are free during early access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/webhook": {
      "post": {
        "operationId": "stripeWebhook",
        "summary": "Not listening. Billing deferred (ADR-006).",
        "security": [],
        "responses": {
          "404": {
            "description": "No endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "Webhook endpoints for this account.",
        "responses": {
          "200": {
            "description": "Endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Register an HTTPS endpoint. Signing secret is shown once.",
        "description": "The whsec_ secret is returned only on create. Deliveries are HMAC-SHA256 over t + \".\" + body as takehome-signature: t=<unix>,v1=<hex>. Receivers must reject |now - t| > 300 seconds (5 minutes).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "One webhook endpoint on this account. Unknown or foreign IDs are 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook endpoint on this account. Unknown or foreign IDs are 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/dispatch": {
      "post": {
        "operationId": "dispatchWebhooks",
        "summary": "Fan out a rule_set.changed event to every endpoint on this account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to"
                ],
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deliveries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDispatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Rejected request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown rule set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "Delivery log for this account.",
        "responses": {
          "200": {
            "description": "Log",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveriesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/deliveries/{id}/replay": {
      "post": {
        "operationId": "replayWebhookDelivery",
        "summary": "Re-send one signed payload.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookReplayResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rules": {
      "get": {
        "operationId": "listRules",
        "summary": "Embedded T4127 rule-set editions.",
        "security": [],
        "responses": {
          "200": {
            "description": "Rule set list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RulesListResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rules/diff": {
      "get": {
        "operationId": "diffRules",
        "summary": "Field-by-field comparison of two embedded T4127 editions.",
        "security": [],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule-set diff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RulesDiffResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rules/{version}": {
      "get": {
        "operationId": "getRule",
        "summary": "One embedded rule-set edition. Unknown versions 404; never nearest-match.",
        "security": [],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleVersionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jurisdictions": {
      "get": {
        "operationId": "listJurisdictions",
        "summary": "Provinces and territories. Quebec is listed as unsupported.",
        "security": [],
        "responses": {
          "200": {
            "description": "Jurisdictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JurisdictionsResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/changes": {
      "get": {
        "operationId": "listChanges",
        "summary": "Machine-readable change log.",
        "security": [],
        "responses": {
          "200": {
            "description": "Changes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/changes.rss": {
      "get": {
        "operationId": "listChangesRss",
        "summary": "RSS 2.0 change log.",
        "security": [],
        "responses": {
          "200": {
            "description": "RSS",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conformance": {
      "get": {
        "operationId": "getConformance",
        "summary": "PDOC conformance record, including every disagreement.",
        "security": [],
        "responses": {
          "200": {
            "description": "Conformance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConformanceResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Liveness only. No versions, dependencies, or environment.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Engine failed the probe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "OpenAPI document generated from the same schemas as this service.",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "np_test_ or np_live_ key. Stored hashed. Test keys run the same engine, unmetered."
      }
    },
    "schemas": {
      "Identity": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string",
            "minLength": 1
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "code",
          "message",
          "docs"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "docs": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error",
          "rule_set_version",
          "engine_version",
          "engine_build_sha256"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          },
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string",
            "minLength": 1
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        }
      },
      "DeductionRequest": {
        "type": "object",
        "required": [
          "province",
          "pay_period",
          "gross_pay"
        ],
        "additionalProperties": false,
        "description": "T4127 request. Unknown fields are rejected by name. as_of is required by core; if omitted here the Worker sets the UTC request date and does not nearest-match a rule set.",
        "properties": {
          "as_of": {
            "type": "string",
            "format": "date"
          },
          "province": {
            "type": "string"
          },
          "pay_period": {
            "type": "integer"
          },
          "gross_pay": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "calculation_option": {
            "type": "string"
          },
          "pensionable_earnings": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "insurable_earnings": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "federal_claim_code": {},
          "provincial_claim_code": {},
          "federal_tc": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "provincial_tcp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "cpp_months": {
            "type": "integer"
          },
          "k2_method": {
            "type": "string"
          },
          "rounding_compat": {
            "type": "string"
          },
          "ytd_pensionable_earnings": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_insurable_earnings": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_cpp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_cpp2": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_ei": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_federal_tax": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_provincial_tax": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "pay_periods_elapsed": {
            "type": "integer"
          },
          "bonus": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "retroactive_pay": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "bonus_method": {
            "type": "string"
          },
          "ytd_bonus": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "f5b_ytd": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "most_recent_i": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "rpp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "bonus_rrsp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_bonus_rrsp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_income": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_rpp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_union_dues": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "f5a_ytd": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "commission_income": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "commission_expenses": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "estimated_annual_expenses": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_qpp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_qpp2": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_qpip": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "prior_province": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "cpp_exempt": {
            "type": "boolean"
          },
          "cpp_election_after_65": {
            "type": "boolean"
          },
          "additional_tax_requested": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "taxable_benefits": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "union_dues": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "alimony": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "child_care_expenses": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "prescribed_zone_deduction": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "lcf_purchase": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "lcp_purchase": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "dependants_under_19": {
            "type": "integer"
          },
          "dependants_disabled": {
            "type": "integer"
          }
        }
      },
      "DeductionResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "employee",
          "employer"
        ],
        "properties": {
          "rule_set_version": {
            "type": "string"
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "prorated_rules_applied": {
            "type": "boolean"
          },
          "employee": {
            "type": "object"
          },
          "employer": {
            "type": "object"
          },
          "annual_projection": {
            "type": "object"
          },
          "breakdown": {
            "type": "object"
          },
          "citations": {
            "type": "array"
          },
          "warnings": {
            "type": "array"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "requests"
        ],
        "additionalProperties": false,
        "description": "Up to 1000 T4127 calculations. Partial success: each result is {ok, response} or {error}. Item failures do not abort the pay run.",
        "properties": {
          "requests": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/DeductionRequest"
            }
          }
        }
      },
      "BatchItemSuccess": {
        "type": "object",
        "required": [
          "ok",
          "response"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "response": {
            "$ref": "#/components/schemas/DeductionResponse"
          }
        }
      },
      "BatchItemError": {
        "type": "object",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "results"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BatchItemSuccess"
                },
                {
                  "$ref": "#/components/schemas/BatchItemError"
                }
              ]
            }
          }
        }
      },
      "YearPeriod": {
        "type": "object",
        "required": [
          "period",
          "as_of",
          "cpp_basic_exemption",
          "ytd_pensionable_earnings_before",
          "ytd_pensionable_earnings_after",
          "response"
        ],
        "properties": {
          "period": {
            "type": "integer",
            "minimum": 1
          },
          "as_of": {
            "type": "string",
            "format": "date"
          },
          "cpp_basic_exemption": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_pensionable_earnings_before": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_pensionable_earnings_after": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_cpp_after": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ytd_ei_after": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "response": {
            "$ref": "#/components/schemas/DeductionResponse"
          }
        }
      },
      "YearTotals": {
        "type": "object",
        "required": [
          "federal_tax",
          "cpp",
          "cpp2",
          "ei"
        ],
        "properties": {
          "federal_tax": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "cpp": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "cpp2": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "ei": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          }
        }
      },
      "YearResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "periods",
          "totals",
          "annual_t1",
          "federal_tax_sum_tolerance"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/YearPeriod"
            }
          },
          "totals": {
            "$ref": "#/components/schemas/YearTotals"
          },
          "annual_t1": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "federal_tax_sum_tolerance": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          },
          "cpp_cap_period": {
            "type": [
              "integer",
              "null"
            ]
          },
          "ei_cap_period": {
            "type": [
              "integer",
              "null"
            ]
          },
          "cpp2_start_period": {
            "type": [
              "integer",
              "null"
            ]
          },
          "ympe_cross_period": {
            "type": [
              "integer",
              "null"
            ]
          },
          "ympe": {
            "type": "string",
            "pattern": "^-?\\d+\\.\\d{2}$",
            "description": "Decimal money as a lexical string. Never a JSON number."
          }
        }
      },
      "JurisdictionStatus": {
        "type": "object",
        "required": [
          "code",
          "name",
          "supported"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "supported": {
            "type": "boolean"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "JurisdictionsResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "jurisdictions"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "jurisdictions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JurisdictionStatus"
            }
          }
        }
      },
      "RuleSetVersionStatus": {
        "type": "object",
        "required": [
          "version",
          "effective_from",
          "status"
        ],
        "properties": {
          "version": {
            "type": "string"
          },
          "effective_from": {
            "type": "string"
          },
          "effective_to": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "enacted",
              "proposed"
            ]
          }
        }
      },
      "RulesListResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "rule_set_versions"
        ],
        "properties": {
          "rule_set_version": {
            "type": "string"
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "rule_set_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleSetVersionStatus"
            }
          }
        }
      },
      "RuleVersionResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "effective_from",
          "status"
        ],
        "properties": {
          "rule_set_version": {
            "type": "string"
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "effective_from": {
            "type": "string"
          },
          "effective_to": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "enacted",
              "proposed"
            ]
          }
        }
      },
      "RulesDiffResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "from",
          "to",
          "changed",
          "fields",
          "cpp",
          "ei",
          "qpip"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "changed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "object"
          },
          "cpp": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ei": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "qpip": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "url",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "required": [
          "id",
          "endpoint_id",
          "event",
          "status",
          "attempts",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "endpoint_id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attempts": {
            "type": "integer"
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "replay_of": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "delivered_at": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WebhookCreateResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "id",
          "url",
          "secret",
          "created_at"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "WebhookGetResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "id",
          "url",
          "created_at"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "WebhookDeleteResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "deleted",
          "id"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "deleted": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "webhooks"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          }
        }
      },
      "WebhookDeliveriesResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "deliveries"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "deliveries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          }
        }
      },
      "WebhookDispatchResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "from",
          "to",
          "changed",
          "deliveries"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "changed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deliveries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          }
        }
      },
      "WebhookReplayResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "id",
          "status",
          "attempts"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "id": {
            "type": "string"
          },
          "endpoint_id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attempts": {
            "type": "integer"
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "replay_of": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "delivered_at": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ChangesResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "items"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "feed_title": {
            "type": "string"
          },
          "feed_link": {
            "type": "string"
          },
          "feed_description": {
            "type": "string"
          },
          "items": {
            "type": "array"
          }
        }
      },
      "ConformanceResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "record"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "record": {
            "type": "object"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        }
      },
      "OpenApiResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "document"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "document": {
            "type": "object"
          }
        }
      },
      "KeyPrefix": {
        "type": "object",
        "required": [
          "kind",
          "prefix"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ]
          },
          "prefix": {
            "type": "string",
            "enum": [
              "np_test_",
              "np_live_"
            ]
          }
        }
      },
      "KeyListResponse": {
        "type": "object",
        "required": [
          "rule_set_version",
          "engine_version",
          "engine_build_sha256",
          "keys"
        ],
        "properties": {
          "rule_set_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "engine_build_sha256": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyPrefix"
            }
          }
        }
      },
      "KeyKindRequest": {
        "type": "object",
        "required": [
          "kind"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ]
          }
        }
      },
      "KeyRotateResponse": {
        "type": "object",
        "required": [
          "kind",
          "key",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ]
          },
          "key": {
            "type": "string",
            "pattern": "^np_(test|live)_[0-9a-f]{32}$"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "KeyRevokeResponse": {
        "type": "object",
        "required": [
          "kind",
          "revoked"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ]
          },
          "revoked": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "required": [
          "test_key",
          "live_key",
          "message"
        ],
        "properties": {
          "test_key": {
            "type": "string",
            "pattern": "^np_test_[0-9a-f]{32}$"
          },
          "live_key": {
            "type": "string",
            "pattern": "^np_live_[0-9a-f]{32}$"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "plan"
        ],
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "starter",
              "growth",
              "business"
            ]
          },
          "success_url": {
            "type": "string",
            "format": "uri"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "required": [
          "url",
          "currency",
          "plan"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "currency": {
            "type": "string",
            "enum": [
              "cad"
            ]
          },
          "plan": {
            "type": "string"
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "required": [
          "received"
        ],
        "properties": {
          "received": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
